* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: rgb(240, 240, 240);
}
.navigation {
  width: 100%;
  height: 30px;
  background-color: lightblue;
  border-bottom: 2px solid gray;
}
li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 25px;
  list-style: none;
  font-variant-caps: all-small-caps;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;
  height: 30px;
  text-align: center;
}

span:hover {
  cursor: pointer;
}
.container {
  margin-top: 85px;
  margin-left: 85px;
  border-radius: 3px;
  box-shadow: 1px 2px 1px;
  width: 500px;
  background-color: lightgray;
  height: 200px;
}
.container:hover {
  background-color: rgb(161, 161, 161);
}
.h4tag {
  margin-left: 25px;
  margin-top: 25px;
  font-variant-caps: all-petite-caps;
}
a {
  font-size: 25px;
  padding-left: 40px;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
}
.about {
  background-color: transparent;
  box-shadow: 0 0 0;
  text-decoration: none;
  font-size: 27px;
}
.forum {
  background-color: transparent;
  box-shadow: 0 0 0;
  text-decoration: none;
  font-size: 27px;
}
.forum:hover {
  color: white;
  font-size: 28px;
}
.about:hover {
  color: white;
  font-size: 28px;
}

.footer {
  position: absolute;
  top: 1600px;
  width: 100%;
  color: black;
  height: 120px;
  font-size: 10px;
  background-image: linear-gradient(rgb(113, 191, 218), darkblue);
}
