* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.navigation {
  width: 100%;
  height: 35px;
  background-color: #7d50b9;
  color: white;
}
.navigation a {
  color: white;
  padding: 5px;
  font-variant: small-caps;
  font-weight: 600;
}
.forumbtntop {
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-left: 5px;
  font-size: 18px;
  position: absolute;
  top: 2.5px;
  border-radius: 1.5px;
  margin-left: 80%;
  color: black;
  
}

.aboutbtntop {
  list-style: none;
  text-align: center;
  padding-left: 5px;
  font-size: 18px;
  position: absolute;
  top: 2.5px;
  text-decoration: none;
  margin-left: 90%;
  color: black;
}
.logo {
  font-variant-caps: all-petite-caps;
  margin-left: 15px;
  padding-top: 2.5px;
  font-size: 23px;
  cursor: pointer;
  text-decoration: none;
}

p{
  font-variant-caps: all-petite-caps;
  
}
li{
  list-style-type: none;
  font-variant-caps: all-petite-caps;

}

.crypto-name{
  font-size: 40px;
  font-weight: 400;
}
.crypto-rank{
  font-size: 25px;
}
.price-usd{
  color: green;
}

.container{
  text-align: center;
  margin-top: 30px;
  padding: 5px;
}



.changelast-day{
  color: red;
}
.marketcap{
  color: green;
}

.footer {
  position: absolute;
  top: 5000px;
  width: 100%;
  font-variant: small-caps;
  font-weight: 600;
  height: 120px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  background-color: #7d50b9;
}
footer a{
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: none;
}
