* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}
.navigation {
  width: 100%;
  height: 35px;
  background-color: lightblue;
  border-bottom: 2px solid lightgray;
}
li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 25px;
  list-style: none;
  font-variant-caps: all-small-caps;
  padding-left: 25px;
  padding-inline-end: 3px;
}
span:hover {
  cursor: pointer;
}
.cryptocard {
  border: 2px solid lightgray;
  margin-left: 20%;
  margin-top: 55px;
  width: 450px;
  border-radius: 2px;
  height: 200px;
  color: black;
  cursor: pointer;
  text-decoration: dotted;
  background-color: lightblue;
}
.cryptocard:hover {
  box-shadow: 0 0 50px;
}
li.cryptocard {
  text-align: center;
  padding-top: 25px;
  font-size: 25px;
  font-variant-caps: all-petite-caps;
}
.forumbtntop {
  width: 60px;
  list-style: none;
  text-align: center;
  height: 25px;
  text-decoration: none;
  padding-left: 5px;
  font-size: 20px;
  position: absolute;
  top: 2.5px;
  border: 1px solid gray;
  border-radius: 1.5px;
  margin-left: 85%;
  color: white;
  background-color: lightblue;
}
.logo {
  font-variant-caps: all-petite-caps;
  margin-left: 15px;
  padding-top: 2.5px;
  font-size: 23px;
  cursor: pointer;
}

.aboutbtntop {
  width: 60px;
  list-style: none;
  text-align: center;
  height: 25px;
  padding-left: 5px;
  font-size: 20px;
  position: absolute;
  top: 2.5px;
  text-decoration: none;
  border-radius: 1.5px;
  margin-left: 70%;
  color: white;
  border: 1px solid gray;
}

.about {
  background-color: transparent;
  box-shadow: 0 0 0;
  text-decoration: none;
  font-size: 27px;
}
.forum {
  background-color: transparent;
  box-shadow: 0 0 0;
  text-decoration: none;
  font-size: 27px;
}
.forum:hover {
  color: white;
  font-size: 28px;
}
.about:hover {
  color: white;
  font-size: 28px;
}

.footer {
  position: absolute;
  top: 1600px;
  width: 100%;
  text-align: center;
  color: black;
  height: 120px;
  font-size: 10px;
  background-color: lightblue;
}
