* {
  margin: 0px;
  padding: 0px;
}
.navigation {
  width: 100%;
  height: 30px;
  background-image: linear-gradient(rgb(255, 96, 96), rgb(255, 0, 0));
}
li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 25px;
  list-style: none;
  font-variant-caps: all-small-caps;
  padding-left: 25px;
  padding-inline-end: 3px;
}
span:hover {
  cursor: pointer;
}
.homebtn {
  position: absolute;
  margin-left: 25px;
  margin-top: 5px;
  width: 60px;
  cursor: pointer;
  font-size: 13px;
}
.homebtn:hover {
  box-shadow: 1px 2px 2px;
  font-size: 15px;
}

.footer {
  position: absolute;
  top: 1100px;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(rgb(255, 96, 96), rgb(255, 0, 0));
}
.footerinfo {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 10px;
  justify-content: space-around;
}
